@model IEnumerable<ProyectoUME.Core.Domain.Excusas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnexoEvidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre1Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre2Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAdministradorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdObreroNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnexoEvidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre1Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre2Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoProyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdministradorNavigation.IdAdministrador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdObreroNavigation.Apellido1O)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumeroReferencia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumeroReferencia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumeroReferencia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
