@model IEnumerable<ProyectoUME.Core.Domain.Supervisor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre1S)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1S)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCedulaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre1S)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1S)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCedulaNavigation.NumeroCedula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSupervisor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSupervisor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSupervisor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
